.modal {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	&-bg {
		width: 100%;
		height: 100%;
		background: $charcoal-gray-0-4;
		display: block;
		position: fixed;
		left: 0;
		top: 0;
	}
	&-content {
		position: fixed;
		background: $white;
		width: 27rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 2.25rem;
		&-body {
			@extend .body-2-left-dark;
			max-height: calc(100vh - 15rem);
			overflow: auto;
		}		
		> .button-close {
			position: absolute;
			top: 0;
			right: 0;
			@extend .button-transparent-bg;
			@extend .button-gray-icon;
		}
	}
	h4 {
		margin-bottom: 1.5rem;
	}
	ul {
		list-style-position: outside;
		margin-left: 1.125rem;
	}
	li {
		margin: 0.75rem 0;
		padding-left: 0.25rem;
		list-style-type: disc;
		display: list-item;
	}
	.button-primary, .button-secondary {
		width: calc(50% - 0.75rem);
	}
	&-actions {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 2.25rem;
	}
}