.table-header-sort-indicator {
	padding-left: 0.25rem;
	svg {
		display: block;
		width: 0.7rem;
		height: 0.7rem;
	}
	.image-fill {
		fill: $medium-cool-gray;
	}
	&-arrow {
		&:first-child {
			svg {
				transform: rotate(-90deg);
			}
		}
		&[data-active="true"] {
			.image-fill {
				fill: $bright-teal;
			}
		}
	}
}