.tools-table-header {
	background: $extralight-warm-gray;
	@extend .tools-gl-top;
	@extend .tools-gl-bottom;
	&-content {   
		@extend .container;     
		> .grid {
			min-height: 2.8125rem;
	        @extend .tools-gl-left;
	        @extend .tools-gl-right;
		}
	}
	&-col {        
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		@extend .tools-label-5-center-med-gray;
	}
	&-subheader {
        &:not(:last-child) {
            @extend .tools-gl-bottom;
        }
	}
	[class*='grid'] {
		flex-wrap: nowrap;
	}
	&-stick {
		position: fixed;
		position: -webkit-sticky;
		position: -moz-sticky;
		position: -ms-sticky;
		position: -o-sticky;
		position: sticky;
		z-index: 990;
	}
}