.button-primary {
	background: $bright-teal;
	@extend .label-3-left-white;
	@extend .button-disabled-light-gray;
	&:hover, &:active {
		&:not(:disabled):not([disabled]) {
			background: $dark-teal;
			border-color: $dark-teal;
		}
	}
	.image-fill {
		fill: $white;
	}
}