.button-secondary {
	background: transparent;
	@extend .label-3-left-teal;
	@extend .button-disabled-light-gray-text;
	&[disabled], &:disabled {
		border-color: $light-warm-gray-grid-lines;
	}
	&:hover, &:active {
		&:not(:disabled):not([disabled]) {
			color: $dark-teal;
			border-color: $dark-teal;
			.image-fill {
				fill: $dark-teal;
			}
		}
	}
}