.button-inline-with-message {
	text-align: center;
	span, .button-inline {
		display: inline-block;
	}
	.button-inline {
		span {
			vertical-align: middle;
		}
	}
	&-text {
		@extend .h7-center-gray;
	}
}