.button-favorite {
	border: none;
	svg {
		width: 1.5rem;
		height: 1.5rem;
	}
	.image-fill {
		fill: none;
		stroke: $bright-teal;
	}
	&:hover {
		.image-fill {
			stroke: $dark-teal;
		}
	}
	&-selected {
		border: none;
		svg {
			width: 1.5rem;
			height: 1.5rem;
		}
		.image-fill {
			fill: $bright-teal;
		}
		&:hover {
			.image-fill {
				fill: $dark-teal;
			}
		}
	}
}