.button-with-progress-bar {
    &, &:hover, &:focus, &[disabled], &.button-disabled {
        background: $dark-teal;
        border-color: $dark-teal;
    }
    span {
        position: relative;
		z-index: 2;
    }
	.button-progress-bar {
        position: absolute;
        bottom:0;
        left:0;
        height: 100%;
        background-color: $bright-teal;
    }
}