.tools-button-secondary {
	background: transparent;
	@extend .tools-label-3-left-teal;
	@extend .tools-button-disabled-light-gray-text;
	&[disabled], &:disabled {
		border-color: $light-warm-gray-grid-lines;
	}
	&:hover, &:active {
		&:not(:disabled):not([disabled]) {
			color: $dark-teal;
			border-color: $dark-teal;
			.tools-image-fill {
				fill: $dark-teal;
			}
		}
	}
}