html, body {
	margin: 0;
}
a {
	font-size: inherit;
	color: inherit;
}
hr {
	margin: 0;
	width: 100%;
	position: absolute;
	height: 1px;
	border: none;
	background: $extralight-warm-gray-0-3;
}