// media query  variables
$screen-sm: 47.9375rem;  // Mobile
$screen-md: 63.9375rem;  // Small tablets (portrait view)
$screen-lg: 79.9375rem;  // Landscape tablets and small desktops
$screen-xl-min: 80rem;
$screen-xl: 125rem; // Desktops
$screen-xxl: 160rem; // 2k and up 

//colors
$almost-black: rgb(51,63,72);
$dark-cool-gray: rgb(91,103,112);
$dark-warm-gray: rgb(125,125,122);
$extralight-warm-gray: rgb(248,248,247);
$extralight-warm-gray-0-3: rgba(248, 248, 247, 0.3);
$light-cool-gray: rgb(162,170,173);
$light-warm-gray: rgb(228,228,227);
$light-warm-gray-grid-lines: rgb(210,210,208);
$medium-cool-gray: rgb(110,120,127);
$medium-warm-gray: rgb(160,160,157);
$charcoal-gray: rgb(43,49,54);

$bright-teal: rgb(0,183,189);
$dark-teal: rgb(0,126,135);
$teal: rgb(0,145,156);

$white: rgb(255,255,255);

$error-red: rgb(252,61,27);