.footer {
	background: $dark-cool-gray;
	flex-shrink: 0;
	@extend .t-avenir;
	ul {
		list-style: none;
		margin: 25px 0 0 0;
		padding: 0;
	}
	li {

	}
	hr {
		left: 0;
		bottom: 70px;
	}
	.col {		
		border-left: 1px solid $extralight-warm-gray-0-3;
		padding-top: 25px;
		padding-bottom: 97px;
		&:last-child {
			.footer-link {
				@extend .body-4-left-white;
				margin: 0 0 8px 0;
			}
			@include m-sm {
				padding-bottom: 50px;
				.footer-link {
					display: inline-block;
					margin: 0 0 16px 0;
					&:not(:last-child) {
						padding-right: 8px;
						margin-right: 8px;
						border-right: 1px solid $white;
					}
				}
			}
		}
		&:not(:last-child) {
			@extend .label-3-left-white;
			.footer-link {
				margin: 0 0 23px 0;
				@include m-sm {
					margin: 0 0 35px 0;
				}
			}
		}
		@include m-sm {
			border-left: none;
			border-bottom: 1px solid $extralight-warm-gray-0-3;
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
	&-content {
		border-right: 1px solid $extralight-warm-gray-0-3;
		@include m-sm {
			border-right: none;
		}
	}
	&-link {
		a {
			text-decoration: none;
		}
	}
}