.tools-transition-modal {
	&-enter {
		.tools-modal-bg {
			opacity: 0;
		}
	}
	&-enter-active.tools-transition-modal-enter {
		.tools-modal-bg {
			opacity: 1;
			transition: opacity $transition-modal-bg-duration;
		}
	}
	&-leave {
		.tools-modal-bg {
			opacity: 1;
		}	
		.tools-modal-content {
			display: none;
		}
	}
	&-leave-active.tools-transition-modal-leave {
		.tools-modal-bg {
			opacity: 0;
			transition: opacity $transition-modal-bg-duration;
		}
	}
}