.transition-toast {
	&-enter {
		.toast {
			bottom: 0;
			opacity: 0;
		}
	}
	&-enter-active.transition-toast-enter {
		.toast {
			bottom: 3rem;
			opacity: 1;
			transition: bottom $transition-toast-duration, opacity $transition-toast-opacity-duration;
		}
	}
	&-leave {
		.toast {
			bottom: 3rem;
			opacity: 1;
		}	
	}
	&-leave-active.transition-toast-leave {
		.toast {
			bottom: 0;
			opacity: 0;
			transition: bottom $transition-toast-duration, opacity $transition-toast-opacity-duration;
		}
	}
}