.transition-slide-left {
	&-enter {
		.model-build-drawer-add-models-bg, .model-compare-side-panel-bg {
			opacity: 0;
		}
		.model-build-drawer-add-models-panel {
			left: -33.125rem;
		}
		.model-compare-side-panel-content {
			left: -64rem;
		}
		.model-build-main-drawer-add-constituents {
			left: calc(-100% + 26rem);
			@include m-md {
				left: calc(-100% + 21rem);
			}
		}
	}
	&-enter-active.transition-slide-left-enter {
		.model-build-drawer-add-models-bg {
			opacity: 1;
			transition: opacity $transition-slide-left-duration;
		}
		.model-compare-side-panel-bg {
			opacity: 1;
			transition: opacity $transition-slide-left-duration-long;
		}
		.model-build-drawer-add-models-panel, .model-build-main-drawer-add-constituents {
			left: 0;
			transition: left $transition-slide-left-duration;
		}
		.model-compare-side-panel-content {
			left: 0;
			transition: left $transition-slide-left-duration-long;
		}
	}
	&-leave {
		.model-build-drawer-add-models-bg, .model-compare-side-panel-bg {
			opacity: 1;
		}
		.model-build-drawer-add-models-panel, .model-build-main-drawer-add-constituents, .model-compare-side-panel-content {
			left: 0;
		}
	}
	&-leave-active.transition-slide-left-leave {
		.model-build-drawer-add-models-bg, .model-compare-side-panel-bg {
			opacity: 0;
			transition: opacity $transition-slide-left-duration;
		}
	    .model-compare-side-panel-bg {
			opacity: 0;
			transition: opacity $transition-slide-left-duration-long;
		}
		.model-build-drawer-add-models-panel {
			left: -33.125rem;
			transition: left $transition-slide-left-duration;
		}
		.model-compare-side-panel-content {
			left: -64rem;
			transition: left $transition-slide-left-duration-long;
		}
		.model-build-main-drawer-add-constituents {
			left: calc(-100% + 26rem);
			transition: left $transition-slide-left-duration;
			&-container {				
				position: absolute;
				height: 100%;
				z-index: 1;
				width: 100%;
			}
			@include m-md {
				left: calc(-100% + 21rem);
			}
		}
	}
}